#root {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.top {
  width: 100%;
  height: 20%;
}
.middle {
  width: 100%;
  height: 10%;
}
.bottom {
  width: 100%;
  height: 70%;
}
.selector {
  width: 400px;
}
